{% extends 'baseGeneral.html'%}

{% load static %}

{%block main%}
    <div class="container p-0 mt-3">
        <form class="form-sign-in" enctype="multipart/form-data" action="">
             <div class="row">
                <div class="col">
                    <div class="d-flex tags">
                        {% for tag in object.tags.all %}
                            <div class="d-flex align-items-center new-tag">
                                <img src="{{tag.image.url}}" alt="icon de estrela">
                                <p class="m-0">{{tag.tag}}</p>
                            </div>
                        {%endfor%}
                    </div>

                    <img width=100% height=550 class="announcementimage" style="border-radius: 20px;" src="{{object.image_annoucement.url}}" alt="imagem do anuncio">

                </div>
                <div class="col">
                    <h1 class="titlecreatestage">Sobre o estágio</h1>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label for="">Empresa</label>
                                <input type="text" disabled value="{{object.name_of_company}}" name="name_of_company" id="name_of_company" placeholder="Insira o nome da empresa">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Logradouro</label>
                                <input type="text" disabled value="{{object.street}}" name="street" id="street" placeholder="Insira o nome do logradouro">
                            </div>
                        </div>

                        <div class="row d-flex testeing">
                            <div class="size-district-input">
                                <label for="">Bairro</label>
                                <input type="text" disabled value="{{object.district}}" name="district" id="district" placeholder="nome do bairro">
                            </div>
                            <div class="size-number-input">
                                <label for="">N°</label>
                                <input type="text" disabled value="{{object.number}}" name="number" id="number" placeholder="N° do local">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="">Requisitos</label>
                                <input type="text" value="{{object.requirements}}" id="requirements" disabled name="requirements" placeholder="Requisitos">           
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="">Prazo de inscrições (dias)</label>
                                <input type="date" disabled value="{{object.registration_time|date:"Y-m-d"}}" id="registration_time" name="registration_time" placeholder="insira o prazo">
                            </div>
                        </div>
                        <div class="row d-flex testeing">
                            <div class="ch-input">
                                <label for="">Carga horária semanal</label>
                                <input type="text" disabled id="workload" value="{{object.workload}}" name="workload" placeholder="CH do estágio">
                            </div>
                            <div class="vacancies-input">
                                <label for="">Vagas</label>
                                <input type="text" disabled id="vacancies" value="{{object.vacancies}}" name="vacancies" placeholder="Vagas">
                            </div>
                            <div class="period-input">
                                <label for="">Periodo</label>
                                <input type="text" disabled id="period" disabled value="{{object.period}}" name="period" placeholder="Periodo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex midcontainer">

                <div class="benefits">
                    <label for="">Benefícios</label>
                    <div class="input-container">
                        <textarea type="text" disabled class="" name="benefits" id="benefits"
                            placeholder="Fale um pouco sobre os benefícios do estágio">{{object.benefits}}</textarea>
                    </div>
                </div>


                <div class="activities">
                    <label for="">Atividades a serem desenvolvidas</label>
                    <div class="input-container">
                        <textarea type="text" disabled class="" name="activities" id="activities"
                            placeholder="Fale um pouco sobre as atividades a serem desenvolvidas">{{object.activities}}</textarea>
                    </div>

                </div>
            </div>
            <div class="contacts">
                <p>Formas de contato</p>
            </div>
            <div class="d-flex contact-form">


                <div class="input-container">
                    <img src="{% static 'imgs/emailIcon.png' %}" alt="">
                    <input type="text" disabled value="{{object.email}}" id="email" name="email" placeholder="Email">
                </div>

                <div class="input-container">
                    <img src="{% static 'imgs/TelefoneIcon.png' %}" alt="">
                    <input type="text" disabled id="phone" value="{{object.phone}}" name="phone" placeholder="Telefone">
                </div>

                <div class="input-container">
                    <img src="{% static 'imgs/whatsappIcon.png' %}" alt="">
                    <input type="text" disabled id="whatsapp" value="{{object.whatsapp}}" name="whatsapp" placeholder="Whatsapp">
                </div>

                <div class="input-container">
                    <img src="{% static 'imgs/LinkedinIcon.png' %}" alt="">
                    <input type="text" disabled id="linkedin" value="{{object.linkedin}}" name="linkedin" placeholder="Linkedin">
                </div>

                <div class="input-container">
                    <img src="{% static 'imgs/InstagramIcon.png' %}" alt="">
                    <input type="text" disabled id="instagram" value="{{object.instagram}}" name="instagram" placeholder="Instagram">
                </div>
            </div>

            {%if object.curricular %}
            <div class="d-flex align-items-center justify-content-between">
                <div class="input-container checkcurricular justify-content-between"> 
                    <label for="id_curricular" class="labelcurricular">Estagio competente a grade curricular do IFRN</label>
                </div>
                <div class="input-container cursocurricular">
                    <label for="course">Curso</label>
                    <input type="text" disabled id="course" disabled value="{{object.course}}" name="course" placeholder="Curso">
                </div>
                <div class="input-container workloadcurricular">   
                    <label for="id_course">Carga horaria total do estagio</label>
                    <input type="text" disabled id="total_workload" value="{{object.total_workload}}" name="total_workload" placeholder="Carga horaria total">
                </div>
            </div>
            {%endif%}

            <div class="descriptione">
                <label for="">Descrição</label>
                <div class="input-container">
                    <textarea type="text" disabled class="" id="description" name="description" placeholder="Fale um pouco sobre os estágios">{{object.description}}</textarea>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-between button-estagios">
            {%if user.is_authenticated%}
                {% for group in user.groups.all %}
                {% if group.name == "Estudante" or group.name == "EstudanteIFRN" %}
                {% if user in object.inscrits.all %}
                <form action="{% url 'removeInscription' object.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="subscribe cancelsubs" type="submit" name="object_id" value="{{object.id}}">Cancelar inscrição</button>
                </form>
                {%else%}
                <form action="{% url 'subscribe' object.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="subscribe" type="submit" name="object_id" value="{{object.id}}">Inscrever-se</button>
                </form>
                {% endif%}
                {% endif%}
                {% if user.id == object.creator.id%}
                <a href="{%url 'announcementDelete' object.id %}" class="deletestage">Excluir</a>
                {%if object.status == 'ATIVO'%}
                <a href="{%url 'announcementUpdate' object.id %}" class="subscribe">Editar</a>
                {%endif%}
                {% endif%}
                {%endfor%}
            {%else%}
                <a href="{%url 'signin' %}" class="subscribe">Inscrever-se</a>
            {%endif%}
        </div>
    </div>
{%endblock%}