{% extends 'baseGeneral.html'%}
{% load static %}

{%block main%}
    <section class="searchbar d-flex">
        <input type="text">
        <button><img src="{% static 'imgs/lupa.png' %}" alt=""> Buscar</button>
    </section>
    <section class="row data">
        <div class="col-sm-3 filter">
            <div class="d-flex titleFilter align-items-center text-white">
                <img src="{% static 'imgs/filtericon.png' %}" alt="">
                <h2>Filtrar por:</h2>
            </div>
            <div class="options">
                <details open>
                    <summary>Tags</summary>
                    <div>
                        <div>
                            <label for="all">
                                <input type="checkbox" class="all" name="all" id="all">
                                <p>Todas</p>
                            </label>
                        </div>
                        <div>
                            <label for="tag1">
                                <input type="checkbox" name="tag1" id="tag1">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'imgs/star.png' %}" alt="">
                                    <p class="mb-0">Novo</p>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label for="tag2">
                                <input type="checkbox" name="tag2" id="tag2">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'imgs/tagAlimenticio.png' %}" alt="">
                                    <p class="mb-0">Alimenticio</p>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label for="tag3">
                                <input type="checkbox" name="tag3" id="tag3">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'imgs/tagRemunerado.png' %}" alt="">
                                    <p class="mb-0">Remunerado</p>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label for="tag4">
                                <input type="checkbox" name="tag4" id="tag4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'imgs/tagRedes.png' %}" alt="">
                                    <p class="mb-0">Redes</p>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label for="tag5">
                                <input type="checkbox" name="tag5" id="tag5">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'imgs/tagTecnologia.png' %}" alt="">
                                    <p class="mb-0">Tecnologia</p>
                                </div>
                            </label>
                        </div>
                    </div>
                </details>
                <details open>
                    <summary>Período</summary>
                    <div>
                        <div>
                            <label for="qaalquer">
                                <input type="checkbox" class="all" name="qualquer" id="qualquer">
                                <p>Qualquer</p>
                            </label>
                        </div>
                        <div>
                            <label for="matutino">
                                <input type="checkbox" class="all" name="matutino" id="matutino">
                                <p>Matutino</p>
                            </label>
                        </div>
                        <div>
                            <label for="vespertino">
                                <input type="checkbox" class="all" name="vespertino" id="vespertino">
                                <p>Vespertino</p>
                            </label>
                        </div>
                        <div>
                            <label for="noturno">
                                <input type="checkbox" class="all" name="noturno" id="noturno">
                                <p>Noturno</p>
                            </label>
                        </div>
                    </div>
                </details>
                <details open>
                    <summary>CH semanal</summary>
                    <div>
                        <input type="range" name="" id="">
                        <div class="range d-flex justify-content-between">
                            <div>
                                <p>8h</p>
                            </div>
                            <div>
                                <p>21h</p>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
        <div class="col-sm-9 stages">
            <section class="results d-flex align-items-center justify-content-between">
                <p>22 resultados encontrados</p>
                <div class="ordenation">
                    <label for="order">Ordenar:</label>
                    <select name="order" id="order">
                        <OPtion>Mais popular</OPtion>
                        <option>Mais recentes</option>
                    </select>
                </div>
            </section>
            <section class="resultsCards">
            {% for stage in object_list %}
                <div class="row cardStage">
                    <div class="col-sm-3 imageCardStage">
                        <img src="{{stage.image_annoucement.url}}" alt="">
                    </div>
                    <div class="col-sm-9 contentCardStage">
                        <a href=""><img class="addfavoritos" src="{% static 'imgs/Fav.png' %}" alt=""></a>
                        <div>
                            <h1>{{stage.name_of_company}}</h1>
                        </div>
                        <div>
                            <div class="d-flex tags">
                                {% for tag in stage.tags.all %}
                                <div class="d-flex align-items-center new-tag">
                                    <img src="{{tag.image.url}}" alt="icon de estrela">
                                    <p class="m-0">{{tag.tag}}</p>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="d-flex">
                            <P class="p1">{{stage.workload}}h/semana</P>
                            <p class="p2">{{stage.creator.usercompany.city}}</p>
                            <p class="p3"><span>{{stage.vacancies}}</span> vagas</p>
                        </div>
                        <div class="seeMoreCard">
                            <a href="{% url 'announcement' %}">Ver Mais</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </section>
        </div>
    </section>
{%endblock%}