{% extends 'baseGeneral.html'%}
{% load static %}

{%block main%}
    <form class="searchbar flex-column" style="gap: 0px;" action="{% url 'stages' %}" method=GET>
        {%csrf_token%}
        <div class="d-flex">
            <input type="search" {% if search %} value="{{search}}" {% endif %} placeholder="Busque por empresas" name="search">
            <button type="submit"><img class="buttonimg" src="{% static 'imgs/lupa.png' %}" alt="">Buscar</button>
        </div>
        <section class="results d-flex align-items-center justify-content-between">
            <p>{{page_obj.paginator.count}} resultados encontrados</p>
            <div class="ordenation align-items-center">
                <label>Ordenar:</label>
                <select onChange="this.form.submit()" name="order" id="order">
                    <option {% if order == "creation_time" %} selected {% endif %} value="creation_time">Mais recentes</option>
                    <option {% if order == "-creation_time" %} selected {% endif %} value="-creation_time">Mais antigos</option>
                </select>
            </div>
        </section>
    <section class="row dataStages">
        <div class="col-sm-3 filter">
            <div class="d-flex align-items-center justify-content-between topfilter">
                <div class="d-flex titleFilter align-items-center text-white">
                    <img src="{% static 'imgs/filtericon.png' %}" alt="">
                    <h2>Filtrar por:</h2>
                </div>
                <a class="btn-sing-in exclude removefilter" href="{% url 'stages' %}">Limpar</a> 
            </div>
            <div class="options">
                <details open>
                    <summary>Tags</summary>
                    <div class="tagsfilter">
                        <div id="id_tags">
                            <div>
                                <label for="id_tags_0"><input {% if '1' in data %} checked {% endif %} onChange="this.form.submit()" class="filtertags" type="checkbox" name="tags" value="1" id="id_tags_0"><img src="{% static 'imgs/tagTecnologia.png' %}" alt="">Tecnologia</label>
                            </div>
                            <div>
                                <label for="id_tags_1"><input {% if '2' in data %} checked {% endif %} onChange="this.form.submit()" class="filtertags" type="checkbox" name="tags" value="2" id="id_tags_1"><img src="{% static 'imgs/tagRedes.png' %}" alt="">Redes</label>
                            </div>
                            <div>
                                <label for="id_tags_2"><input {% if '3' in data %} checked {% endif %} onChange="this.form.submit()" class="filtertags" type="checkbox" name="tags" value="3" id="id_tags_2"><img src="{% static 'imgs/tagAlimenticio.png' %}" alt="">Alimenticio</label>
                            </div>
                            <div>
                                <label for="id_tags_3"><input {% if '4' in data %} checked {% endif %} onChange="this.form.submit()" class="filtertags" type="checkbox" name="tags" value="4" id="id_tags_3"><img src="{% static 'imgs/tagRemunerado.png' %}" alt="">Remunerado</label>
                            </div>
                            <div>
                                <label for="id_tags_4"><input {% if '5' in data %} checked {% endif %} onChange="this.form.submit()" class="filtertags" type="checkbox" name="tags" value="5" id="id_tags_4"><img src="{% static 'imgs/star.png' %}" alt="">Novo</label>
                            </div>
                        </div>
                    </div>
                </details>
                <details open>
                    <summary>Período</summary>
                    <div class="tagsfilter">
                        <div id="id_period">
                            <div>
                                <label for="id_period_0"><input type="radio" {% if period == "MATUTINO" %} checked {% endif %} onChange="this.form.submit()" name="period" value="MATUTINO" id="id_period_0">Matutino</label>
                            </div>
                            <div>
                                <label for="id_period_1"><input type="radio" {% if period == "VESPERTINO" %} checked {% endif %} onChange="this.form.submit()" name="period" value="VESPERTINO" id="id_period_1">Vespertino</label>
                            </div>
                            <div>
                                <label for="id_period_2"><input type="radio" {% if period == "NOTURNO" %} checked {% endif %} onChange="this.form.submit()" name="period" value="NOTURNO" id="id_period_2">Noturno</label>
                            </div>
                        </div>
                    </div>
                </details>
            </div> 
        </div>
        </form>
        <div class="col-sm-9 stages">
            <section class="resultsCards">
            {% if object_list.count == 0%}
            <div class="d-flex justify-content-center align-items-center witout-stages">
                <p >Nenhum resultado encontrado</p>
            </div>
            {%else%}
            {% for stage in object_list %}
                {%if stage.status == 'ATIVO'%}
                <div class="row cardStage">
                    <div class="col-sm-3 imageCardStage">
                        <img src="{{stage.image_annoucement.url}}" alt="">
                    </div>
                    <div class="col-sm-9 contentCardStage">
                    {% for group in user.groups.all %}
                        {% if group.name == "Estudante"  %}
                        {% if stage in user.userexternal.favorites.all %}
                        <form action="{% url 'removeFavorite' stage.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="buttonaddfav" type="submit" name="object_id" value="{{stage.id}}"><img class="addfavoritos " src="{% static 'imgs/Fav.png' %}" alt=""></button>
                        </form>
                        {%else%}
                        <form action="{% url 'favorite' stage.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="buttonaddfav" type="submit" name="object_id" value="{{stage.id}}"><img class="addfavoritos" src="{% static 'imgs/Favun.png' %}" alt=""></button>
                        </form>
                        {% endif%}
                        {% endif%}
                        {% if group.name == "EstudanteIFRN"  %}
                        {% if stage in user.userinternal.favorites.all %}
                        <form action="{% url 'removeFavorite' stage.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="buttonaddfav" type="submit" name="object_id" value="{{stage.id}}"><img class="addfavoritos " src="{% static 'imgs/Fav.png' %}" alt=""></button>
                        </form>
                        {%else%}
                        <form action="{% url 'favorite' stage.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="buttonaddfav" type="submit" name="object_id" value="{{stage.id}}"><img class="addfavoritos" src="{% static 'imgs/Favun.png' %}" alt=""></button>
                        </form>
                        {% endif%}
                        {% endif%}
                    {%endfor%}
                        <div>
                            <h1>{{stage.name_of_company}}</h1>
                        </div>
                        <div>
                            <div class="d-flex tags">
                                {% for tag in stage.tags.all %}
                                <div class="d-flex align-items-center new-tag">
                                    <img src="{{tag.image.url}}" alt="icon de estrela">
                                    <p class="m-0">{{tag.tag}}</p>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="d-flex datacard">
                            <P class="p1">{{stage.workload}}h/semana</P>
                            {% if stage.creator.usercompany.city %}
                            <p class="p2">{{stage.creator.usercompany.city}}</p>
                            {% else %}
                            <p class="p2">Curricular IFRN</p>
                            {% endif %}
                            <p class="p3"><span>{{stage.vacancies}}</span> vagas</p>
                        </div>
                        <div class="seeMoreCard">
                            <a href="{% url 'announcement' stage.id %}">Ver Mais</a>
                        </div>
                    </div>
                </div>
                {%endif%}
            {% endfor %}
            <div class="d-flex align-items-center justify-content-center pagination">
                {%if page_obj.has_previous%}
                <a href="?page=1"><img src="{% static 'imgs/previousendicon.png' %}" alt=""></a>
                <a href="?page={{ page_obj.previous_page_number }}"><img src="{% static 'imgs/previousicon.png' %}" alt=""></a>
                {%else%}
                <a class="disabledpagination" onClick="return false;" href="#"><img src="{% static 'imgs/previousendicon.png' %}" alt=""></a>
                <a class="disabledpagination" onClick="return false;" href="#"><img src="{% static 'imgs/previousicon.png' %}" alt=""></a>
                {%endif%}
                <span>
                    Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}
                </span>
                {%if page_obj.has_next%}
                <a href="?page={{ page_obj.next_page_number }}"><img src="{% static 'imgs/nexticon.png' %}" alt=""></a>
                <a href="?page={{ page_obj.paginator.num_pages }}"><img src="{% static 'imgs/nextendicon.png' %}" alt=""></a>
                {%else%}
                <a class="disabledpagination" onClick="return false;" href="#"><img src="{% static 'imgs/nexticon.png' %}" alt=""></a>
                <a class="disabledpagination" onClick="return false;" href="#"><img src="{% static 'imgs/nextendicon.png' %}" alt=""></a>
                {%endif%}
            </div>
            {%endif%}
            </section>
        </div>
    </section>
{%endblock%}