{% extends 'baseGeneral.html'%}
{% load static %}

{%block main%}
    <main class="d-flex align-items-center justify-content-center generalcontainer">
        <section></section>
        <div class="teste">
        <section class="sidebar col-2 p-0 d-flex flex-column align-items-center justify-content-between">
            <section>
                
                <a href="index.html">
                    <div class="d-flex logo align-items-center justify-content-start mt-5 mb-3">
                        <img src="{% static 'imgs/Logo.png' %}" alt="logo">
                        <img src="{% static 'imgs/DVE.png' %}" alt="nome da logo">
                    </div>
                </a>

                <div class="d-flex align-items-center justify-content-start mt-5 mb-4">
                    <img src="{% static 'imgs/IconMenu.png' %}" alt="icon do menu">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="font-bold m-0">Menu</p>
                    </div>
                </div>
                {% for group in user.groups.all %}
                <div class="d-flex flex-column align-items-center justify-content-center mt-3 sidebarContent">
                    <ul class="p-0 w-100">
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#myData">
                                <p class="m-0 text-white"> Meus dados</p>
                            </a></li>
                        {% if group.name == 'EmpresaCoordenacao' %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#myAnnouncements">
                                <p class="m-0 text-white"> Meus anúncios</p>
                            </a></li>
                        {% endif %}
                        {% if group.name == 'EmpresaCoordenacao' %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="announcement.html">
                                <p class="m-0 text-white"> Criar anúncios</p>
                            </a></li>
                        {% endif %}
                        {% if group.name == 'Estudante' %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#myInscriptions">
                            <p class="m-0 text-white"> Minhas inscrições</p>
                        </a></li>
                        {% endif %}
                        {% if group.name == 'Estudante' %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#favorites">
                            <p class="m-0 text-white"> Favoritos</p>
                        </a></li>
                        {% endif %}
                    </ul>
                </div>
            </section>
            <div class="d-flex align-items-center justify-content-center pb-5">
                <a href="{%url 'logout'%}" class="exitButton">
                    <div class="d-flex align-items-center justify-content-center flex-start">
                        <img src="{% static 'imgs/ExitIcon.png' %}" alt="icon de saidan" />
                        <p class="m-0 text-exit">Sair</p>
                    </div>
                </a>
            </div>
        </section>

        <section class="col-10 container-profile">
            <div class=" topContent d-flex flex-wrap align-items-center justify-content-between mt-5">
                <h1 class="">Ola, {{user.name}}!</h1>
            </div>

            <section class="myData" id="myData">
                <h2>Meus dados</h2>
    
                <div class="container p-0">
                    <form action="" enctype="multipart/form-data" method="post">
                        {%csrf_token%}
                        <div class="profilePicture imageedit d-flex justify-content-center align-items-center">
                            {% if user.photo %}
                            <img width=100% height=100% class="rounded-circle" src="{{user.photo.url}}" alt="">
                            {% else %}
                            <img width=50% height=50% src="{% static 'imgs/PerfilPicture.png' %}" alt="">
                            {% endif %}
                            <input class="inputphoto" type="file" name="photo" accept="image/*" id="id_photo">
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div>
                                    <label for="">Nome</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/userIcon.png' %}" alt="">
                                        {{form.name}}
                                    </div>
                                </div>
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">CNPJ</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cnpjIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.cnpj}}" id="cnpj" name="cnpj" placeholder="CNPJ">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Estudante' %}
                                <div>
                                    <label for="">Data de nascimento</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/calendarioIcon.png' %}" alt="">
                                        <input type="date" value="{{user.userexternal.birth_date|date:"Y-m-d" }}" id="birth_date" name="birth_date">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Estudante' %}
                                <div>
                                    <label for="">Escolaridade</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/escolaridadeIcon.png' %}" class="escolaridadeIMG" alt="">
                                        {{form.schooling}}
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Estudante' %}
                                <div>
                                    <label for="">Instituição</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cityIcon.png' %}" alt="">
                                        <input type="text"  value="{{user.userexternal.institution}}" id="institution" name="institution" placeholder="Instituição">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">Logradouro</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/logradouroIcon.png' %}" class="logradouroIMG" alt="">
                                        <input type="text" value="{{user.usercompany.street}}" placeholder="Logradouro" id="street" name="street">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">Bairro</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/bairroIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.district}}" id="district" name="district" placeholder="Bairro">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">Telefone</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/TelefoneIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.phone}}" id="phone" name="phone" placeholder="Nº de telefone">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">Linkedin</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/LinkedinIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.linkedin}}" id="linkedin" name="linkedin" placeholder="Link">
                                    </div>
                                </div>
                                {% elif group.name == 'Estudante' %}
                                <div>
                                    <label for="">Linkedin</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/LinkedinIcon.png' %}" alt="">
                                        <input type="text" value="{{user.userexternal.linkedin}}" id="linkedin" name="linkedin" placeholder="Link">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-sm">
                                <div>
                                    <label for="">E-mail</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/emailIcon.png' %}" alt="">
                                        <input type="text" value="{{user.email}}" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">Cidade</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cityIcon.png' %}" alt="">
                                        {{form.city}}
                                    </div>
                                </div>
                                {% elif group.name == 'Estudante' %}
                                <div>
                                    <label for="">Cidade</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cityIcon.png' %}" alt="">
                                        {{form.city}}
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <label for="" style="margin-bottom: 10px;">Tags preferenciais</label>
                                    <a class="dropdown-toggle tagselector" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tags</a>
                                    <ul class="dropdown-menu">
                                        {{form.tags}}
                                    </ul>
                                </div>
                                {% endif %}
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">CEP</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cepIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.cep}}" id="cep" name="cep" placeholder="CEP">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">Whatsapp</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/whatsappIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.whatsapp}}" id="whatsapp" name="whatsapp" placeholder="Whatsapp">
                                    </div>
                                </div>
                                {% endif %} 
                                {% if group.name == 'EmpresaCoordenacao' %}
                                <div>
                                    <label for="">Instagram</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/InstagramIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.instagram}}" id="instagram" name="instagram" placeholder="Instagram">
                                    </div>
                                </div>
                                {% endif %}
                        </div>
                        <div>
                            <label for="">Descrição</label>
                            <div class="input-container">
                                <textarea type="text" class="description" placeholder="Descrição" id="description" name="description">{{user.description}}</textarea>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <button type="submit" class="btn-sing-in">Salvar Edição</button>
                        </div>
                    </form>
                    </div>
            </section>
{%endblock%}