{% extends 'baseGeneral.html'%}
{% load static %}

{%block main%}
    <main class="d-flex align-items-center justify-content-center generalcontainer">
        <section></section>
        <div class="teste">
        <section class="sidebar col-2 p-0 d-flex flex-column align-items-center justify-content-between">
            <section>
                
                <a href="{%url 'index' %}">
                    <div class="d-flex logo align-items-center justify-content-start mt-5 mb-3">
                        <img src="{% static 'imgs/Logo.png' %}" alt="logo">
                        <img src="{% static 'imgs/DVE.png' %}" alt="nome da logo">
                    </div>
                </a>

                <div class="d-flex align-items-center justify-content-start mt-5 mb-4">
                    <img src="{% static 'imgs/IconMenu.png' %}" alt="icon do menu">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="font-bold m-0">Menu</p>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center mt-3 sidebarContent">
                    {% for group in user.groups.all %}
                    <ul class="p-0 w-100">
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#myData">
                                <p class="m-0 text-white"> Meus dados</p>
                            </a></li>
                        {% if group.name == 'Empresa' or group.name == "coordenacao" %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#myAnnouncements">
                                <p class="m-0 text-white"> Meus anúncios</p>
                            </a></li>
                        {% endif %}
                        {% if group.name == 'Empresa' or group.name == "coordenacao" %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="{%url 'announcementCreate' %}">
                                <p class="m-0 text-white"> Criar anúncio</p>
                            </a></li>
                        {% endif %}
                        {% if group.name == 'Estudante' or group.name == 'EstudanteIFRN' %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#myInscriptions">
                            <p class="m-0 text-white"> Minhas inscrições</p>
                        </a></li>
                        {% endif %}
                        {% if group.name == 'Estudante' or group.name == 'EstudanteIFRN' %}
                        <li><a class="nav-link font-bold-ul p-0 mb-3" href="#favorites">
                            <p class="m-0 text-white"> Favoritos</p>
                        </a></li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </div>
            </section>
            <div class="d-flex align-items-center justify-content-center pb-5">
                <a href="{%url 'logout'%}" class="exitButton">
                    <div class="d-flex align-items-center justify-content-center flex-start">
                        <img src="{% static 'imgs/ExitIcon.png' %}" alt="icon de saidan" />
                        <p class="m-0 text-exit">Sair</p>
                    </div>
                </a>
            </div>
        </section>

        <section class="col-10 container-profile">
            <div class=" topContent d-flex flex-wrap align-items-center justify-content-between mt-5">
                <h1 class="">Ola, {{user.name}}!</h1>
                <div class="profilePicture imageedit d-flex justify-content-center align-items-center">
                    {% if user.photo %}
                        {% for group in user.groups.all %}
                            {% if group.name == "EstudanteIFRN" %}
                            <img width=100% height=100% class="rounded-circle" src="https://suap.ifrn.edu.br{{user.photo}}" alt="">
                            {% elif group.name == "coordenacao"%}
                            <img width=100% height=100% class="rounded-circle" src="{{user.photo}}" alt="">
                            {% else %}
                            <img width=100% height=100% class="rounded-circle" src="{{user.photo.url}}" alt="">
                            {%endif%}
                        {%endfor%}
                    {% else %}
                    <img width=50% height=50%  src="{% static 'imgs/PerfilPicture.png' %}" alt="">
                    {% endif %}
                </div>
            </div>

            <section class="myData" id="myData">
                <h2>Meus dados</h2>
                <div class="container p-0">
                    <form action="">
                        {% for group in user.groups.all %}
                        <div class="row">
                            <div class="col-sm">
                                <div>
                                    <label for="">Nome</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/userIcon.png' %}" alt="">
                                        <input type="text" value="{{user.name}}" disabled placeholder="Nome">
                                    </div>
                                </div>
                                {% if group.name == 'Empresa' %}
                                <div>
                                    <label for="">CNPJ</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cnpjIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.cnpj}}" disabled placeholder="CNPJ">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'EstudanteIFRN' %}
                                <div>
                                    <label for="">Matricula</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cnpjIcon.png' %}" alt="">
                                        <input type="text" value="{{user.userinternal.registration}}" disabled placeholder="Matricula">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Estudante' or group.name == 'EstudanteIFRN'%}
                                <div>
                                    <label for="">Data de nascimento</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/calendarioIcon.png' %}" alt="">
                                        {% if group.name == 'Estudante' %}
                                        <input type="date" value="{{user.userexternal.birth_date|date:"Y-m-d" }}" disabled>
                                        {% elif group.name == "EstudanteIFRN"%}
                                        <input type="date" value="{{user.userinternal.birth_date|date:"Y-m-d" }}" disabled>
                                        {%endif%}
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Estudante' %}
                                <div>
                                    <label for="">Escolaridade</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/escolaridadeIcon.png' %}" class="escolaridadeIMG" alt="">
                                        <input type="text" value="{{user.userexternal.schooling}}" disabled placeholder="Escolaridade">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Estudante' %}
                                <div>
                                    <label for="">Instituição</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cityIcon.png' %}" alt="">
                                        <input type="text"  value="{{user.userexternal.institution}}" disabled placeholder="Instituição">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Empresa' %}
                                <div>
                                    <label for="">Logradouro</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/logradouroIcon.png' %}" class="logradouroIMG" alt="">
                                        <input type="text" value="{{user.usercompany.street}}" disabled placeholder="Logradouro">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Empresa' %}
                                <div>
                                    <label for="">Bairro</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/bairroIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.district}}" disabled placeholder="Bairro">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Empresa' or group.name == "coordenacao"%}
                                <div>
                                    <label for="">Telefone</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/TelefoneIcon.png' %}" alt="">
                                        {% if group.name == 'Empresa' %}
                                        <input type="text" value="{{user.usercompany.phone}}" disabled placeholder="Nº de telefone">
                                        {% elif group.name == "coordenacao"%}
                                        <input type="text" value="{{user.coordinationuser.phone}}" disabled placeholder="Nº de telefone">
                                        {%endif%}
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Empresa' or group.name == "coordenacao" %}
                                <div>
                                    <label for="">Linkedin</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/LinkedinIcon.png' %}" alt="">
                                        {% if group.name == 'Empresa' %}
                                        <input type="text" value="{{user.usercompany.linkedin}}" disabled placeholder="Link">
                                        {% elif group.name == "coordenacao"%}
                                        <input type="text" value="{{user.coordinationuser.linkedin}}" disabled placeholder="Link">
                                        {%endif%}
                                    </div>
                                </div>
                                {% elif group.name == 'Estudante'  or group.name == 'EstudanteIFRN' %}
                                <div>
                                    <label for="">Linkedin</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/LinkedinIcon.png' %}" alt="">
                                        {% if group.name == 'Estudante' %}
                                        <input type="text" value="{{user.userexternal.linkedin}}" disabled placeholder="Link">
                                        {% elif group.name == "EstudanteIFRN"%}
                                        <input type="text" value="{{user.userinternal.linkedin}}" disabled placeholder="Link">
                                        {%endif%}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-sm">
                                <div>
                                    <label for="">E-mail</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/emailIcon.png' %}" alt="">
                                        <input type="text" value="{{user.email}}" disabled placeholder="Email">
                                    </div>
                                </div>
                                {% if group.name == 'Empresa' %}
                                <div>
                                    <label for="">Cidade</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cityIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.city}}" disabled placeholder="Cidade">
                                    </div>
                                </div>
                                {% elif group.name == 'Estudante'  or group.name == 'EstudanteIFRN'%}
                                <div>
                                    <label for="">Cidade</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cityIcon.png' %}" alt="">
                                        {% if group.name == 'Estudante' %}
                                        <input type="text" value="{{user.userexternal.city}}" disabled placeholder="Cidade">
                                        {% elif group.name == "EstudanteIFRN"%}
                                        <input type="text" value="{{user.userinternal.city}}" disabled placeholder="Cidade">
                                        {%endif%}
                                    </div>
                                </div>
                                {% if group.name == 'EstudanteIFRN' %}
                                <div>
                                    <label for="">Curso</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/curso.png' %}" alt="">
                                        <input type="text" value="{{user.userinternal.course}}" disabled placeholder="Curso">
                                    </div>
                                </div>
                                <div>
                                    <label for="">Período / Ano</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/anoperiodo.png' %}" alt="">
                                        <input type="text" value="{{user.userinternal.period}}" disabled placeholder="Período">
                                    </div>
                                </div>
                                {%endif%}
                                <div> 
                                    <label for="">Tags de interesse</label>
                                    <div class="d-flex flex-wrap">
                                    {% if group.name == 'Estudante' %}
                                        {% for tag in user.userexternal.tags.all %}
                                            <div class="d-flex align-items-center new-tag profiletags">
                                                <img src="{{tag.image.url}}" alt="icon de estrela">
                                                <p class="m-0">{{tag.tag}}</p>
                                            </div>
                                        {%endfor%}
                                    {% elif group.name == "EstudanteIFRN"%}
                                        {% for tag in user.userinternal.tags.all %}
                                            <div class="d-flex align-items-center new-tag profiletags">
                                                <img src="{{tag.image.url}}" alt="icon de estrela">
                                                <p class="m-0">{{tag.tag}}</p>
                                            </div>
                                        {%endfor%}
                                    {%endif%}
                                    </div>  
                                </div>
                                {% endif %}
                                {% if group.name == 'Empresa' %}
                                <div>
                                    <label for="">CEP</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/cepIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.cep}}" disabled placeholder="CEP">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Empresa' %}
                                <div>
                                    <label for="">Whatsapp</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/whatsappIcon.png' %}" alt="">
                                        <input type="text" value="{{user.usercompany.whatsapp}}" disabled placeholder="Whatsapp">
                                    </div>
                                </div>
                                {% endif %}
                                {% if group.name == 'Empresa' or group.name == "coordenacao" %}
                                <div>
                                    <label for="">Instagram</label>
                                    <div class="input-container">
                                        <img src="{% static 'imgs/InstagramIcon.png' %}" alt="">
                                        {% if group.name == 'Empresa' %}
                                        <input type="text" value="{{user.usercompany.instagram}}" disabled placeholder="Instagram">
                                        {% elif group.name == "coordenacao"%}
                                        <input type="text" value="{{user.coordinationuser.instagram}}" disabled placeholder="Instagram">
                                        {%endif%}
                                    </div>
                                </div>
                                {% endif %}
                        </div>
                        <div>
                            <label for="">Descrição</label>
                            <div class="input-container">
                                <textarea type="text" class="description" disabled placeholder="Descrição">{{user.description}}</textarea>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <a type="submit" href="{%  url 'deleteuser' user.id %}" class="btn-sing-in exclude">Excluir Conta</a>
                        {% if group.name == 'coordenacao' %}
                        <a class="btn-sing-in" href="{% url 'updateCoordenacao'%}">Editar Perfil</a>
                        {% elif group.name == 'Empresa' %}
                        <a class="btn-sing-in" href="{% url 'updateCompany'%}">Editar Perfil</a>
                        {% elif group.name == 'Estudante' %}
                        <a class="btn-sing-in" href="{% url 'updateExternal'%}">Editar Perfil</a>
                        {% elif group.name == 'EstudanteIFRN' %}
                        <a class="btn-sing-in" href="{% url 'updateInternal'%}">Editar Perfil</a>
                        {% endif %}
                    </div>
                    </div>
            </section>
          
            {% if group.name == 'Empresa'%}
            <div class="myAnnouncements" id="myAnnouncements">
                <h2>Meus anúncios</h2>
            </div>
            {% if user.usercompany.Qcreated == 0 %}
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="havenotting">Você não possui nenhum anuncio publicado</h3>
            </div>
            {% else %}
            <section class="carousel-container">
                <div>
                    <button class="mt-5 glider-prev"><img src="{% static 'imgs/caret-left-fill.svg' %}" alt="">
                    </button>
                </div>
                <div class="glider">
                    {% for announce in object_list %}
                    {% if announce.creator.id == user.id %}
                    <div class="d-flex flex-column justify-content-center align-items-center position-relative size-box divbackcardspro">
                        <div class="position-absolute link-see-more">
                            <a href="{% url 'announcement' announce.id %}">Ver mais</a>
                        </div>
                        <div class="d-flex align-items-center justify-content-center quantityinscripts">
                            <a href="{% url 'candidates' announce.id %}">Ver Inscritos</a>
                        </div>

                        <div class="position-absolute name-company">
                            <p>{{announce.name_of_company}}<span>{{announce.workload}}h/s</span></p>
                        </div>
                        <div class="position-absolute name-city">
                            {% if announce.creator.usercompany %}
                            <p>{{announce.creator.usercompany.city}}</p>
                            {% else %}
                            <p>Curricular IFRN</p>
                            {%endif%}
                        </div>
                        <img class="backgroundcardsprofile" width="300px" height="300px" src="{{announce.image_annoucement.url}}" alt="">
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                <div>
                    <button class="mt-5 glider-next"><img src="{% static 'imgs/caret-right-fill.svg' %}" alt=""></button>
                </div>
            </section>
            {% endif %}
            {% elif group.name == 'coordenacao'%}
            <div class="myAnnouncements" id="myAnnouncements">
                <h2>Meus anúncios</h2>
            </div>
            {% if user.coordinationuser.Qcreated == 0 %}
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="havenotting">Você não possui nenhum anuncio publicado</h3>
            </div>
            {% else %}
            <section class="carousel-container">
                <div>
                    <button class="mt-5 prev-favorite"><img src="{% static 'imgs/caret-left-fill.svg' %}" alt="">
                    </button>
                </div>
                <div class="glider1">
                    {% for announce in object_list %}
                    {% if announce.creator.id == user.id %}
                    <div class="d-flex flex-column justify-content-center align-items-center position-relative size-box divbackcardspro">
                        <div class="position-absolute link-see-more">
                            <a href="{% url 'announcement' announce.id %}">Ver mais</a>
                        </div>
                        <div class="d-flex align-items-center justify-content-center quantityinscripts">
                            <a href="{% url 'candidates' announce.id %}">Ver Inscritos</a>
                        </div>

                        <div class="position-absolute name-company">
                            <p>{{announce.name_of_company}}<span>{{announce.workload}}h/s</span></p>
                        </div>
                        <div class="position-absolute name-city">
                            <p>Pau dos Ferros</p>
                        </div>
                        <img class="backgroundcardsprofile" width="300px" height="300px" src="{{announce.image_annoucement.url}}" alt="">
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                <div>
                    <button class="mt-5 next-favorite"><img src="{% static 'imgs/caret-right-fill.svg' %}" alt=""></button>
                </div>
             </section>
            {% endif %}
            {% elif group.name == 'Estudante'  or group.name == 'EstudanteIFRN'%}
            <div class="favorites" id="myInscriptions">
                <h2>Minhas Inscrições</h2>
            </div>
            {% if user.annoucement_set.count == 0 %}
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="havenotting">Você não possui nenhuma inscrição</h3>
            </div>
            {% else %}
            <section class="carousel-container">
                <div>
                    <button class="mt-5 prev-favorite1"><img src="{% static 'imgs/caret-left-fill.svg' %}" alt="">
                    </button>
                </div>
                <div class="glider2">
                    {% for announce in object_list %}
                    {% if user in announce.inscrits.all %}
                    <div class="d-flex justify-content-center align-items-center position-relative size-box divbackcardspro">
                        <div class="position-absolute link-see-more">
                            <a href="{% url 'announcement' announce.id %}">Ver mais</a>
                        </div>

                        <div class="position-absolute name-company">
                            <p>{{announce.name_of_company}}<span>{{announce.workload}}h/s</span></p>
                        </div>
                        <div class="position-absolute name-city">
                            {% if announce.creator.usercompany %}
                            <p>{{announce.creator.usercompany.city}}</p>
                            {% else %}
                            <p>Curricular IFRN</p>
                            {%endif%}
                        </div>
                        <img class="backgroundcardsprofile" width="300px" height="300px" src="{{announce.image_annoucement.url}}" alt="">
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                <div>
                    <button class="mt-5 next-favorite1" ><img src="{% static 'imgs/caret-right-fill.svg' %}" alt=""></button>
                </div>
            </section>
            {%endif%}
            <div class="favorites" id="favorites">
                <h2>Meus favoritos</h2>
            </div>
        {% if group.name == "Estudante" %}
            {% if user.userexternal.favorites.count == 0 %}
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="havenotting">Você não possui nenhum favorito</h3>
            </div>
            {% else %}
            <section class="carousel-container">
                <div>
                    <button class="mt-5 prev-favorite2"><img src="{% static 'imgs/caret-left-fill.svg' %}" alt="">
                    </button>
                </div>
                <div class="glider3">
                    {% for announce in object_list %}
                    {% if announce in user.userexternal.favorites.all %}
                    <div class="d-flex justify-content-center align-items-center position-relative size-box divbackcardspro">
                        <div class="position-absolute link-see-more">
                            <a href="{% url 'announcement' announce.id %}">Ver mais</a>
                        </div>
                        <form action="{% url 'removeFavoriteprofile' announce.pk %}" class="position-absolute" method="POST">
                            {% csrf_token %}
                            <div class="d-flex align-items-center justify-content-center removefav">
                                <button class="buttonaddfav" type="submit" name="object_id" value="{{announce.id}}"><img src="{% static 'imgs/x.png' %}" alt=""></button>
                            </div>
                        </form>
                        <div class="position-absolute name-company">
                            <p>{{announce.name_of_company}}<span>{{announce.workload}}h/s</span></p>
                        </div>
                        <div class="position-absolute name-city">
                            {% if announce.creator.usercompany %}
                            <p>{{announce.creator.usercompany.city}}</p>
                            {% else %}
                            <p>Curricular IFRN</p>
                            {%endif%}
                        </div>
                        <img class="backgroundcardsprofile" width="300px" height="300px" src="{{announce.image_annoucement.url}}" alt="">
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                <div>
                    <button class="mt-5 next-favorite2"><img src="{% static 'imgs/caret-right-fill.svg' %}" alt=""></button>
                </div>
            </section>
            {%endif%}
         {% elif group.name == "EstudanteIFRN" %}
            {% if user.userinternal.favorites.count == 0 %}
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="havenotting">Você não possui nenhum favorito</h3>
            </div>
            {% else %}
            <section class="carousel-container">
                <div>
                    <button class="mt-5 prev-favorite3"><img src="{% static 'imgs/caret-left-fill.svg' %}" alt="">
                    </button>
                </div>
                <div class="glider4">
                    {% for announce in object_list %}
                    {% if announce in user.userinternal.favorites.all %}
                    <div class="d-flex justify-content-center align-items-center position-relative size-box divbackcardspro">
                        <div class="position-absolute link-see-more">
                            <a href="{% url 'announcement' announce.id %}">Ver mais</a>
                        </div>
                        <form action="{% url 'removeFavoriteprofile' announce.pk %}" class="position-absolute" method="POST">
                            {% csrf_token %}
                            <div class="d-flex align-items-center justify-content-center removefav">
                                <button class="buttonaddfav" type="submit" name="object_id" value="{{announce.id}}"><img src="{% static 'imgs/x.png' %}" alt=""></button>
                            </div>
                        </form>
                        <div class="position-absolute name-company">
                            <p>{{announce.name_of_company}}<span>{{announce.workload}}h/s</span></p>
                        </div>
                        <div class="position-absolute name-city">
                            {% if announce.creator.usercompany %}
                            <p>{{announce.creator.usercompany.city}}</p>
                            {% else %}
                            <p>Curricular IFRN</p>
                            {%endif%}
                        </div>
                        <img class="backgroundcardsprofile" width="300px" height="300px" src="{{announce.image_annoucement.url}}" alt="">
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                <div>
                    <button class="mt-5 next-favorite3"><img src="{% static 'imgs/caret-right-fill.svg' %}" alt=""></button>
                </div>
            </section>
            {%endif%}
        {%endif%} 
        </section>
        {%endif%}
        {% endfor %}
        </div>
    </main> 
{%endblock%}