<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/signInCompany.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@900&display=swap"
        rel="stylesheet">
    <title>DVE</title>
</head>

<body>
    <section class="container-button">
        <div class="back-page">
            <div>
                <a class="p-0  nav-link" href="../templates/signIn.html">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../imgs/arrowIcon.png" alt="">
                        <p class="m-0">Voltar</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <main class=" main-login-empresa">

        <section class="box">

            <div class="container-fluid">

                <div class="logo d-flex justify-content-center align-items-center">
                    <div>
                        <a href="../templates/index.html">
                            <img src="../imgs/Logo.png" alt="logo do site">
                        </a>

                        <a href="../templates/index.html"><img src="../imgs/DVE.png" alt="Nome do site"></a>
                    </div>
                </div>

                <div class="title d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <h1>Registre sua empresa</h1>
                        <p>preencha seus dados</p>
                    </div>
                </div>

                <section>
                    <form class="form-sign-in" action="">
                        <div>
                            <label for="">Nome da empresa</label>
                            <div class="input-container">
                                <img src="../imgs/companyIcon.png" alt="">
                                <input type="text" placeholder="Insira o nome da empresa">
                            </div>
                        </div>

                        <div class="gap">
                            <label for="">CNPJ</label>
                            <div class="input-container">
                                <img src="../imgs/cnpjIcon.png" alt="">
                                <input type="text" placeholder="Insira o CNPJ da empresa">
                            </div>
                        </div>

                        <div class="gap">
                            <label for="">E-mail</label>
                            <div class="input-container">
                                <img src="../imgs/emailIcon.png" alt="">
                                <input type="email" placeholder="Insira o seu email">
                            </div>
                        </div>

                        <div class="gap">
                            <label for="">Senha</label>
                            <div class="input-container">
                                <img src="../imgs/passwordIcon.png" alt="">
                                <input type="password" placeholder="Insira a sua senha">
                            </div>
                        </div>


                        <div>
                            <p class="font-bold">Ao clicar abaixo, concordo com os Termos de Uso e li a Declaração de
                                Privacidade.</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit">Cadastrar</button>
                        </div>


                    </form>
                </section>


            </div>

        </section>
    </main>
</body>

</html>