:root {
    --color-text-blue-dark: #42464D;
    --color-red: #CD4C4C;
    --color-tag-new: #7CF768;
    --color-green-dark: #346E4E;
    --color-text-input-ad-font: #5AD6B5;
    --color-menu: #5AD6B5;
    --color-white: #fff;
    --color-text-info: #9C9C9C;
    --color-buttom: #57BA84;
    --color-filter: #007E5A;
    --color-success-light: #5AD6B5;
    --color-alert-light: #9C9C9C;
    --color-error-light: #CD4C4C;
    --color-yellow-fav: #FFD43C;
    --color-scrollbar: #6FECAC;
    --color-status-ad: #346E4E;
    --color-status-edit: #9A7631;
    --color-status-finished: #346E4E;

    --background-gradient: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(90,214,181,1) 0%, rgba(113,238,170,1) 100%);
    --background-color: #F0EEEE;
    --background-color-white: #fff;
    --background-sidebar: #5AD6B5;
    --background-gradient-login: linear-gradient(180deg, rgba(194,194,194,1) 0%, rgba(171,171,171,1) 50%, rgba(134,134,134,1) 100%);


    --font: 'Poppins', sans-serif;
    --font-weight--thin: 100;
    --font-weight--ExtraLight: 200;
    --font-weight--Light: 300;
    --font-weight--Regular: 400;
    --font-weight--Medium: 500;
    --font-weight--SemiBold: 600;
    --font-weight--Bold: 700;
    --font-weight--ExtraBold: 800;
    --font-weight--Black: 900; 

    --font-size-link-nav: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--color-white);
}

body{
    overflow: hidden;
    height: 100%;
}

html{
    height: 100%;
}

main{
    height: 100%;
}

.mainContainer1{
    height: 80%;
}

.mainContainer2{
    height: 100%;
    box-shadow: 1px 1px 10px 2px var(--color-alert-light);
    border-radius: 20px;
}

.btn-sing-in{
    background-color: var(--color-menu);
    width: 25%;
    border: none;
    border-radius: 30px;
    color: var(--color-white);
    padding: 10px;
    font-weight: var(--font-weight--Bold);
    font-size: 18px;
}

.exclude{
    background-color: var(--color-red);
}

.container-profile{
    flex: 1;
}
.sidebar{
    height: 100%;
    background-color: var(--background-sidebar);
    width: 20%;
    border-radius: 20px 0px 0px 20px;
}

.font-bold{
    font-weight: var(--font-weight--Bold);
    font-size: 30px;
    padding-left: 10px;
}

.font-bold-ul{
    font-weight: var(--font-weight--Bold);
    font-size: 20px;
}

.text-exit{
    color: var(--color-red);
    font-weight: var(--font-weight--Bold);
    font-size: 20px;
    padding-left: 10px;
}

.sidebarContent{
    flex: 1;
}
.sidebarContent li{
    list-style: none;
}
.sidebarContent p{
    font-size: 20px;
}
.container-profile h1{
    font-weight: var(--font-weight--Bold);
    color: var(--color-text-input-ad-font);
    font-size:47px;
}

.container-profile{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    padding: 0px;
}

.profilePicture{
    border-radius: 50%;
    border: solid var(--color-text-blue-dark) 5px;
    height: 150px;
    width: 150px;
}

.exitButton{
    text-decoration: none;
}

.myData, .myInscriptions, .favorites , .topContent{
    margin: 50px 8%;
}

h2{
    font-weight: var(--font-weight--Bold);
    color: var(--color-text-input-ad-font);
    margin-bottom: 40px;
}

form{
    width: 100%;
    margin: 0px;
    gap: 10px;
}

form div{
    width: 100%;
}

form label{
    color: var(--color-text-input-ad-font);
    font-size: 14px;
    align-self: flex-start;
    margin-bottom: 10px;
}
form input{
    padding-left: 80px;
    margin-bottom: 0.6em;
    background: var(--background-color);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    color: var(--color-alert-light);
}

.checkbox label{
    color: var(--color-text-info);
    font-size: 18px;
    margin-bottom: 10px;
}

.checkbox input{
    padding-left: 0px;
    margin-bottom: 0.6em;
    background: var(--background-color);
    width: 20px;
    height: 20px;
    border-radius: 0px;
    border: solid 2px gray;
    color: var(--color-alert-light);
    margin-right: 10px;
}

.description{
    padding: 20px;
    margin-bottom: 0.6em;
    background: var(--background-color);
    width: 100%;
    height: 200px;
    border-radius: 16px;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    color: var(--color-alert-light);
}

.description::placeholder{
    font-weight: var(--font-weight--Medium);
    color: var(--color-alert-light);
}

form input::placeholder{
    
    font-weight: var(--font-weight--Medium);
    color: var(--color-alert-light);
    
}
form input:focus{
    outline: none;
    color: var(--color-text-blue-dark);
    border: 0.1px solid var(--color-menu);
    padding-left: 60px;
    font-weight: var(--font-weight--SemiBold);
    
}

form input:focus::placeholder{
    font-weight: var(--font-weight--Bold);
}

.input-container{
    position: relative;
}

.input-container img{
    position: absolute;
    top: 15px;
    left: 30px;
}

.escolaridadeIMG{
    top: 10px !important;
    left: 22px !important;
}

.topCard{
    background-image: url(../imgs/EstagioAguaNaBoca.png);
    background-repeat: no-repeat;
    background-size: 250px 280px;
    height: 280px;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 0px;
    text-align: right;
}

.seeMore{
    background-color: var(--color-buttom);
    border-radius: 20px;
    padding: 3px 10px;
    width: 100px;
    height: 30px;
    text-decoration: none;
}


footer {
    background: var(--background-sidebar);
    padding-top: 5px;
    padding-bottom: 20px;
}

footer.a {
    text-decoration: None;
}

footer a {
    text-decoration: None !important;
    color: white;
}

footer a:hover{
    color: var(--color-buttom);
}

.logoFooter {
    height: 250px;
}

footer li a {
    background-color: none;
    padding: 10px 0px;
    display: block;
    width: 200px;
    border-radius: 1em;
    border: 1px white solid;
    font-size: 20px;
    font-weight: var(--font-weight--Bold);
}

footer li a:hover{
    border:none;
    
    
}
footer li{
    margin-bottom: 20px;
}

footer h3, footer h4{
    margin-bottom: 30px;
    font-weight: var(--font-weight--Bold);
}

.footerSection1 {
    margin: 0px 50px;
    margin-top: 50px;
}

.copyright{
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 15px;
}
.carousel-container{
    width: 90%;
    position: relative;
    margin-left: 5%;
}


.link-see-more{
    top: 8%;
    right: 12%;
}

.link-see-more a{
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-buttom);
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: var(--font-weight--Bold);
}

.link-see-more a:hover{
    background-color: var(--color-filter);
    transition: .6s;
}

.size-box{
    height: 280px !important;
    width: auto;
}

.name-company{
    color: var(--color-white);
    background-color: var(--color-buttom);
    border-radius: 20px;
    bottom: 20%;
    left: 5%;
}

.name-company p{
    padding: 6px 12px;
    font-weight: var(--font-weight--Bold);
    font-size: 14px;
    margin-bottom: 0;
}

.name-company span{
    padding-left: 20px;
    font-weight: var(--font-weight--Regular);
}

.name-city{
    background-color: var(--color-green-dark);
    border-radius:  0px 0px 20px 20px;
    color: var(--color-white);
    bottom: 12%;
    left: 10%;
}

.name-city p{
    margin: 0;
    font-size: 14px;
    padding: 1px 8px;
    font-weight: var(--font-weight--Regular);
}
