:root {
    --color-text-blue-dark: #42464D;
    --color-red: #CD4C4C;
    --color-tag-new: #7CF768;
    --color-green-dark: #346E4E;
    --color-text-input-ad-font: #5AD6B5;
    --color-menu: #5AD6B5;
    --color-white: #fff;
    --color-text-info: #9C9C9C;
    --color-buttom: #57BA84;
    --color-filter: #007E5A;
    --color-success-light: #5AD6B5;
    --color-alert-light: #9C9C9C;
    --color-error-light: #CD4C4C;
    --color-yellow-fav: #FFD43C;
    --color-scrollbar: #6FECAC;
    --color-status-ad: #346E4E;
    --color-status-edit: #9A7631;
    --color-status-finished: #346E4E;

    --background-gradient: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(90,214,181,1) 0%, rgba(113,238,170,1) 100%);
    --background-color: #F0EEEE;
    --background-color-white: #fff;
    --background-sidebar: #5AD6B5;
    --background-gradient-login: linear-gradient(180deg, rgba(194,194,194,1) 0%, rgba(171,171,171,1) 50%, rgba(134,134,134,1) 100%);


    --font: 'Poppins', sans-serif;
    --font-weight--thin: 100;
    --font-weight--ExtraLight: 200;
    --font-weight--Light: 300;
    --font-weight--Regular: 400;
    --font-weight--Medium: 500;
    --font-weight--SemiBold: 600;
    --font-weight--Bold: 700;
    --font-weight--ExtraBold: 800;
    --font-weight--Black: 900;

    --font-size-link-nav: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--color-white);
}

.main-login-studant{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    
    width: 690px;
    height: 600px;
    background: var(--background-sidebar);
    border-radius: 16px;
    box-shadow: 5px 4px 10px 2px var(--color-alert-light);
    
}

.logo{
    margin-top: 30px;
}

.font-bold{
    font-weight: var(--font-weight--Bold);
}

.font-regular{
    font-weight: var(--font-weight--Regular);
}

.form-sign-in{
    width: 60%;
    margin: auto;
    gap: 10px;
}

.form-sign-in div{
    width: 100%;
}

.form-sign-in label{
    color: var(--color-white);
    font-size: 14px;
    align-self: flex-start;
    font-weight: var(--font-weight--Regular);
}
.form-sign-in input{
    padding-left: 80px;
    margin-bottom: 0.6em;
    background: var(--background-color-white);
    width: 100%;
    height: 50px;
    border-radius: 16px;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    color: var(--color-alert-light);
}

.form-sign-in input::placeholder{
    
    font-weight: var(--font-weight--Medium);
    color: var(--color-alert-light);
    
}
.form-sign-in input:focus{
    outline: none;
    color: var(--color-text-blue-dark);
    border: 0.1px solid var(--color-menu);
    padding-left: 60px;
    font-weight: var(--font-weight--SemiBold);
    
}

.form-sign-in input:focus::placeholder{
    font-weight: var(--font-weight--Bold);
}

.input-container{
    position: relative;
}

.forgot-password{
    text-align: right;
    font-weight: var(--font-weight--Light);

}

.label-suap{
    width: 144px;
    text-align: center;
    font-weight: var(--font-weight--Light);
}
.button-login{
    border: 2px solid var(--color-white);
    border-radius: 16px;
    display: block;
    width: 150px !important;
    padding: 0 !important;
    text-align: center;
    font-weight: var(--font-weight--ExtraBold);
}

.btn-log-in{
    background-color: transparent;
    border: 2px solid var(--color-white);;
    border-radius: 16px;
    color: var(--color-white);
    padding: 10px 40px;
    font-weight: var(--font-weight--Bold);
    font-size: 14px;
}

.a{
   height: 44px;
   margin-top: 40px;
}

.input-container{
    position: relative;
}

.input-container img{
    position: absolute;
    top: 15px;
    left: 30px;
}