{% extends 'baseGeneral.html'%}
{% load static %}

{%block main%}
    <section class="d-flex align-items-center flex-wrap justify-content-center container1">
        <section class="imagecontainer">
            <img src="{% static 'imgs/aboutUsImage.png' %}" class="img-fluid" alt="">
        </section>
        <section class="textcontainermain d-flex-column align-items-center justify-content-center">
            <h1>Sobre a DVE</h1>
            <p>A DVE é uma plataforma de anuncios de estagios que tem como objetivo facilitar a vida das pessoas que buscam por vagas de estagio. </p>
            <p>Estando no mercado desde 2022, a plataforma hoje conta com mais de 2 mil usuarios diarios e possuindo mais de 3 mil anuncios publicados, alem de inumeras estagiarios que conseguiram sua tão sonhada vaga atravez da DVE.</p>
        </section>
    </section>
{%endblock%}