{% extends 'baseGeneral.html'%}
{% load static %}

{%block main%}
    <section class="title d-flex align-items-center flex-wrap">
        <img src="{% static 'imgs/iconFaq.png' %}" alt="">
        <h1>Central de duvidas frequentes</h1>
    </section>
    <section class="baseQuestions">
        <div class="question">
            <p class="questionTit">Como entro em contato com uma empresa que quero estagiar para retirar duvidas sobre a proposta?</p>
            <p>Nos anuncios publicados na pagina são disponibilizadas as formas de entrar em contato diretamente com a empresa anunciante </p>
        </div>
        <div class="question">
            <p class="questionTit">Como funcionam as inscriçoes pela plataforma?</p>
            <p>Quando os usuarios se inscrevem nas propostas anunciadas os dados do perfil são enviados e registrados para que a empresa que realizou o anuncio possa visualizar, analizar os concorrentes e entrar em contato com os mesmos. </p>
        </div>
    </section>
    <section class="addAQuestion d-flex-column">
        <form action="" class="d-flex-column">
            <div class="d-flex justify-content-between pb-0">
                <label for="question">Envie sua duvida</label>
                <p>Caracteres restantes: <strong>255</strong></p>
            </div>
            <textarea name="question" id="question" cols="30" rows="10"></textarea>
        </form>
        <div class="d-flex justify-content-end">
            <Button>Enviar</Button>
        </div>
    </section>    
{%endblock%}