{% extends 'baseHome.html'%}
{% load static %}

{%block main%}
    <section class="section1Homapage container-fluid text-white d-flex align-items-center justify-content-between">
        <section class="container section1Text">
            <h1>Encontre vagas de estagio em qualquer area do mercado! </h1>
            <a href="{% url 'stages' %}" class='btn btn-style text-white' id="VerAnuncios">Ver Anuncios</a>
        </section>
        <section class="container imagecontainerhomepage">
            <img class="img-fluid" src="{% static 'imgs/Images.png' %}" alt="">
        </section>
    </section>

    <section class="section2Homapage container-fluid  d-flex align-items-center justify-content-between">
        <a href="{% url 'signincompany' %}">
            <section class="logincardHomepage container d-flex align-items-center justify-content-around">
                <div id="imageEmpresa">
                    <img src="{% static 'imgs/carbon_location-company-filled.png' %}" alt="">
                </div>
                <div id="textEmpresa">
                    <h3>Sou empresa</h3>
                    <p>Perfil para empresas, capazes de postar e gerenciar anúncios de estagio para conseguir
                        concorrentes.</p>
                </div>
            </section>
        </a>
        <a href="{% url 'login' %}">
            <section class="logincardHomepage container d-flex align-items-center justify-content-around">
                <div>
                    <img src="{% static 'imgs/Escola.png' %}" alt="">
                </div>
                <div>
                    <h3>Sou estudante</h3>
                    <p>Perfil para estudantes, capazes de se inscrever para vagas de estagio, perfil personalizado.
                    </p>
                </div>
            </section>
        </a>
        <a href="https://suap.ifrn.edu.br/accounts/login/">
            <section class="logincardHomepage container d-flex align-items-center justify-content-around">
                <div>
                    <img src="{% static 'imgs/image 13.png' %}" alt="">
                </div>
                <div id="textIF">
                    <h3>Sou federal</h3>
                    <p>Perfil para estudantes e coordenação do IFRN, encontre vagas para estagios da grade
                        curricular do instituto.</p>
                </div>
            </section>
        </a>
    </section>

    <section class="section3Homapage container-fluid flex-wrap d-flex align-items-center justify-content-between">
        <section class="container d-flex-column">
            <div class="d-flex newTag text-white align-items-center justify-content-around">
                <img src="{% static 'imgs/star.png' %}" alt="">
                <h3>Novo</h3>
            </div>
            <div>
                <h1>Fique por dentro de todas as <span id="novidades">novidades!</span></h1>
            </div>
        </section>
        <section>
            <p class="textSec3">Não perca tempo e <span>crie uma conta</span> personalizada com suas preferencias e
                seja capaz de registrar suas <span>competencias</span> e <span>habilidades</span> para disputar as
                vagas. Alem de poder anunciar estagios.</p>
            <a href="signIn.html" class='btn btn-style text-white' id="VerAnuncios">Criar conta</a>
        </section>
    </section>

    <section class="section4Homapage container text-center d-flex-column text-white align-items-center">
        <h1>Busque estagiarios para sua empresa!</h1>
        <a href="signInCompany.html" class='btn text-white'>Anunciar</a>
        <img class="img-fluid" src="{% static 'imgs/ImagesEmpresas.png' %}" alt="">
    </section>

    <!-- carousel -->
    <section class="section6Homapage container-fluid d-flex-column align-items-center justify-content-center pb-0">
        <div class=" p-0 d-flex align-items-start title-carousel">
            <img src="{% static 'imgs/flame.png' %}" alt="">
            <h1>Anuncios recentes</h1>
        </div>
    </section>

    <section class="carousel-container mb-5">
        <div>
            <button class="mt-5 glider-prev"><img src="{% static 'imgs/caret-left-fill.svg' %}" alt="">
            </button>
        </div>
        <div class="glider">
            <div class="d-flex justify-content-center align-items-center position-relative size-box">
                <div class="position-absolute link-see-more">
                    <a href="">Ver mais</a>
                </div>
                <div class="position-absolute d-flex justify-content-around align-items-center tag-new">
                    <img src="{% static 'imgs/star.png' %}" alt="">
                    <p>Novo</p>
                </div>
                <div class="position-absolute name-company">
                    <p>Agua na boca <span>30h/s</span></p>

                </div>
                <div class="position-absolute name-city">
                    <p>Pau dos Ferros/RN</p>

                </div>
                <img width="350px" height="350px" src="{% static 'imgs/Programmer.png' %}" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center position-relative size-box">
                <div class="position-absolute link-see-more">
                    <a href="">Ver mais</a>
                </div>
                <div class="position-absolute d-flex justify-content-around align-items-center tag-new">
                    <img src="{% static 'imgs/star.png' %}" alt="">
                    <p>Novo</p>
                </div>
                <div class="position-absolute name-company">
                    <p>Agua na boca <span>30h/s</span></p>

                </div>
                <div class="position-absolute name-city">
                    <p>Pau dos Ferros/RN</p>

                </div>
                <img width="350px" height="350px" src="{% static 'imgs/Programmer.png' %}" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center position-relative size-box">
                <div class="position-absolute link-see-more">
                    <a href="">Ver mais</a>
                </div>
                <div class="position-absolute d-flex justify-content-around align-items-center tag-new">
                    <img src="{% static 'imgs/star.png' %}" alt="">
                    <p>Novo</p>
                </div>
                <div class="position-absolute name-company">
                    <p>Agua na boca <span>30h/s</span></p>

                </div>
                <div class="position-absolute name-city">
                    <p>Pau dos Ferros/RN</p>

                </div>
                <img width="350px" height="350px" src="{% static 'imgs/Programmer.png' %}" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center position-relative size-box">
                <div class="position-absolute link-see-more">
                    <a href="">Ver mais</a>
                </div>
                <div class="position-absolute d-flex justify-content-around align-items-center tag-new">
                    <img src="{% static 'imgs/star.png' %}" alt="">
                    <p>Novo</p>
                </div>
                <div class="position-absolute name-company">
                    <p>Agua na boca <span>30h/s</span></p>

                </div>
                <div class="position-absolute name-city">
                    <p>Pau dos Ferros/RN</p>

                </div>
                <img width="350px" height="350px" src="{% static 'imgs/Programmer.png' %}" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center position-relative size-box">
                <div class="position-absolute link-see-more">
                    <a href="">Ver mais</a>
                </div>
                <div class="position-absolute d-flex justify-content-around align-items-center tag-new">
                    <img src="{% static 'imgs/star.png' %}" alt="">
                    <p>Novo</p>
                </div>
                <div class="position-absolute name-company">
                    <p>Agua na boca <span>30h/s</span></p>

                </div>
                <div class="position-absolute name-city">
                    <p>Pau dos Ferros/RN</p>

                </div>
                <img width="350px" height="350px" src="{% static 'imgs/Programmer.png' %}" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center position-relative size-box">
                <div class="position-absolute link-see-more">
                    <a href="">Ver mais</a>
                </div>
                <div class="position-absolute d-flex justify-content-around align-items-center tag-new">
                    <img src="{% static 'imgs/star.png' %}" alt="">
                    <p>Novo</p>
                </div>
                <div class="position-absolute name-company">
                    <p>Agua na boca <span>30h/s</span></p>

                </div>
                <div class="position-absolute name-city">
                    <p>Pau dos Ferros/RN</p>

                </div>
                <img width="350px" height="350px" src="{% static 'imgs/Programmer.png' %}" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center position-relative size-box">
                <div class="position-absolute link-see-more">
                    <a href="">Ver mais</a>
                </div>
                <div class="position-absolute d-flex justify-content-around align-items-center tag-new">
                    <img src="{% static 'imgs/star.png' %}" alt="">
                    <p>Novo</p>
                </div>
                <div class="position-absolute name-company">
                    <p>Agua na boca <span>30h/s</span></p>

                </div>
                <div class="position-absolute name-city">
                    <p>Pau dos Ferros/RN</p>

                </div>
                <img width="350px" height="350px" src="{% static 'imgs/Programmer.png' %}" alt="">
            </div>
        </div>
        <div>
            <button class="mt-5 glider-next"><img src="{% static 'imgs/caret-right-fill.svg' %}" alt=""></button>
        </div>
    </section>

    <section class="section6Homapage container-fluid d-flex-column align-items-center justify-content-center">
        <section class="d-flex align-items-center tittle">
            <img src="{% static 'imgs/Vector.png' %}" alt="">
            <h1>Porque usar o DVE?</h1>
        </section>
        <section class="d-flex align-items-center justify-content-between flex-wrap">
            <section class="text-white cardSec6 d-flex-column align-items-center">
                <img src="{% static 'imgs/Praticidade.png' %}" alt="">
                <h3>Praticidade</h3>
                <p>O DVE facilita a localização de vagas de estagio para os estudantes.</p>
            </section>
            <section class="text-white cardSec6 d-flex-column align-items-center">
                <img src="{% static 'imgs/relogio.png' %}" alt="">
                <h3>Velocidade</h3>
                <p>O DVE permite uma mais rapida interação entre os estagiarios e as empresas. </p>
            </section>
            <section class="text-white cardSec6 d-flex-column align-items-center">
                <img src="{% static 'imgs/abangencia.png' %}" alt="">
                <h3>Abrangência</h3>
                <p>Um maior numero de pessoas acessando o sistema em busca de estagios proporciona mais
                    concorrentes.</p>
            </section>
        </section>
    </section>
{%endblock%}